

body {
    display: flex;
    flex-direction: column;
    margin: 0;
    font-family: 'Roboto', sans-serif;
}

.header {
    display: flex;
    flex-direction: column;
    background: #556650;
}

.headerUpper {
    display: flex;
}

.headerLogo {
    flex-grow: 1;
    align-self: center;
    font-size: 24px;
    color: #FEFAE0;
    margin-left: 32px;
}

.navLinks {
    display: flex;
    list-style-type: none;
    font-size: 18px;
    color: #E5E7EB;
    margin-right: 32px;
}

.navLink {
    margin: 8px;
}

.navLink a {
    text-decoration: none;
    color: #FEFAE0;
}

.headerLower {
    display: flex;
    padding: 64px;
    justify-content: space-between;
    align-items: flex-start;
    
}

.mainTitle {
    width: 35%;
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    color: #FEFAE0;
    margin: 24px;
}

.mainTitle h1 {
    font-size: 48px;
    margin: 24px;
}

.mainTitle p {
    margin: 24px;
}

.mainTitle button {
    margin: 24px;
    display: flex;
    flex-grow: 0;
    align-self: flex-start;
    background-color: #FEFAE0;
    border: 0 solid #e2e8f0;
    border-radius: 1.5rem;
    color: #151514;
    cursor: pointer;
    font-size: 18px;
    font-weight: 400;
    padding: 1rem 1.6rem;
    text-align: flex-start;
    text-decoration: none #0d172a solid;
    text-decoration-thickness: auto;
    transition: all .1s cubic-bezier(.4, 0, .2, 1);
    box-shadow: 0px 1px 2px rgba(166, 175, 195, 0.25);
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
}

.button-81:hover {
  background-color: #1e293b;
  color: #fff;
}

@media (min-width: 768px) {
  .button-81 {
    font-size: 1.125rem;
    padding: 1rem 2rem;
  }
}


.titleSignUp {
    align-self: flex-start;
}

img {
    width: 50%;
    flex-grow: 2;
}

.body {
    flex-grow: 1;
    background-color: #2D2616;
}
.body h2 {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 36px;
    font-style: extra-bold;
    color: #FEFAE0;
}

.cards {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    margin-bottom: 64px;
}

.cardContainer {
    display: flex;
    flex-direction: column;
    justify-content: space-between;;
    align-items: center;
    color: #FEFAE0;
}
.card {
    margin: 16px;
    border: 3px solid #FEFAE0;
    display: flex;
    justify-content: center;
    border-radius: 5%;
    width: 250px;
    height: 250px;

}

img {
    border-radius: 10px;
    object-fit: cover;
}

.quoteContainer {
    background-color: #E5E7EB;
    padding: 64px 32px 64px 32px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.quote {
    font-size: 36px;
    font-weight: 300;
    font-style: italic;
}


.quoteAuthor {
    font-size: 16px;
    margin-top: 16px;
    font-weight: bold;
    margin-left: 300px;
}

.callToAction {
    background-color:#D8DAD3;
    display: flex;
    color: #e2e8f0;
    justify-content: center;
    gap: 64px;
    padding-top: 64px;
    padding-bottom: 64px;
}

.textContainer {
    display: flex;
    flex-direction: column;
    background-color: #FEFAE0;
    padding: 64px;
    border-radius: 10px;
}

.theCall {
    font-size: 16px;
    font-weight: 700;
    color:#2D2616;
}

.theCallSubtext {
    font-size: 14px;
    font-weight: 300;
    color: #2D2616;
}

.callToAction button {
    background-color:#58584B;
    border: 2px solid #FEFAE0;
    border-radius: 10px;
    color:#FEFAE0;
    padding: 8px 24px 8px 24px;
    font-weight:700;
    align-self: center;
    font-size: 16px;
}

.footer {
    background-color: #1C1E17;
    padding: 64px;
    display: flex;
    color:#F9FAF8;
    justify-content: center;
    align-items: center;
}